<div class="flex justify-between mb-4">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="goBack()">Back</button>
    <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" (click)="addEmployee()">Add Employee</button>
</div>

<div class="table-container" style="overflow: auto;">
    <table class="table-auto">
        <thead>
            <tr>
                <th class="px-4 py-2">ID</th>
                <th class="px-4 py-2">Username</th>
                <th class="px-4 py-2">Email</th>
                <th class="px-4 py-2">Designation</th>
                <th class="px-4 py-2">Password</th>
                <th class="px-4 py-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees" class="border">
                <td class="border px-4 py-2">{{ employee.id }}</td>
                <td class="border px-4 py-2">
                    <ng-container *ngIf="!isEditing; else editMode">
                        {{ employee.username }}
                    </ng-container>
                    <ng-template #editMode>
                        <input type="text" [(ngModel)]="editedUsername" />
                    </ng-template>
                </td>
                <td class="border px-4 py-2">
                    <ng-container *ngIf="!isEditing; else editMode">
                        {{ employee.email }}
                    </ng-container>
                    <ng-template #editMode>
                        <input type="text" [(ngModel)]="editedEmail" />
                    </ng-template>
                </td>
                <td class="border px-4 py-2">
                    <ng-container *ngIf="!isEditing; else editMode">
                        {{ employee.designation }}
                    </ng-container>
                    <ng-template #editMode>
                        <input type="text" [(ngModel)]="editedDesignation" />
                    </ng-template>
                </td>
                <td class="border px-4 py-2">{{employee.password}}</td>
                <td class="border px-4 py-2">
                    <button *ngIf="!isEditing" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2" (click)="editEmployee(employee.id)">Edit</button>
                    <button *ngIf="isEditing" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mr-2" (click)="saveUserData(employee)">Save</button>
                    <button *ngIf="!isEditing" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" (click)="deleteEmployee(employee.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
